.userInfoEmail {
  margin: 0;
  padding: 0;
  color: var(--orange-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
}

.userInfoButton {
  margin: 0;
  padding: 5px 15px;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  border: none;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
