.works {
  margin: 15px auto 83px auto;
  padding: 0;
  max-width: 858px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .works {
    margin: 5px auto 150px auto;
    align-items: center;
  }
}

.worksHeading {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksHeading {
    font-size: 18px;
  }
}

.worksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.worksWork {
  margin: 0;
  padding: 15px 0 13px 0;
  display: flex;
  border-bottom: 2px solid rgba(239, 239, 239, 1);
  gap: 17px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWork {
    padding: 0 0 13px 0;
    flex-direction: column;
    align-items: center;
  }
}

.worksWorkWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkWrapper {
    max-width: 344px;
  }
}

.worksWorkImage {
  margin: 8px 0 0 0;
  padding: 0;
  max-width: 246px;
  border: none;
  border-radius: 6px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkImage {
    margin: 0;
    min-width: 339px;
    min-height: 230px;
  }
}

.worksWorkTitle {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkTitle {
    font-size: 24px;
    line-height: 1.25;
  }
}

.worksWorkInfoWrapper {
  margin: 22px 0 20px 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 26px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkInfoWrapper {
    margin: 16px 0 24px 0;
  }
}

.worksWorkYear {
  margin: 0;
  padding: 0 10px;
  max-height: 25px;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 900;
  line-height: 60px;
  border: none;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkYear {
    font-size: 16px;
    padding: 0 12px;
  }
}

.worksWorkDescription {
  margin: 0;
  padding: 0;
  color: var(--slate-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 29.38px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkDescription {
    font-size: 16px;
    line-height: 23.5px;
  }
}

.worksWorkSubtitle {
  margin: 0;
  padding: 0;
  max-width: 95%;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .worksWorkSubtitle {
    max-width: 99%;
  }
}
