.promo {
  margin: 125px auto 71px auto;
  padding: 0;
  min-width: 854px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .promo {
    margin: 33px auto 58px auto;
    min-width: 90.4%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.promoHeading {
  margin: 18px 0 0 0;
  padding: 0;
  max-width: 506px;
  color: var(--dark-color);
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  white-space: pre-line;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .promoHeading {
    margin: 40px 0 0 0;
    max-width: 312px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}

.promoParagraph {
  margin: 27px 0 32px 0;
  padding: 0;
  max-width: 497px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .promoParagraph {
    margin: 22px 0 27px 0;
    max-width: 328px;
    text-align: center;
    line-height: 24px;
  }
}

.promoImg {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  box-shadow: -5px 8px 0 0 rgba(237, 247, 250, 1);
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .promoImg {
    max-width: 170.86px;
    max-height: 170.86px;
  }
}

.promoWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 375px) and (max-width: 899px) {
  .promoWrapper {
    align-items: center;
  }
}

.promoButton {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 208px;
  min-height: 47px;
  background-color: var(--orange-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 29.38px;
  border: none;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
